h6{
  font-size: 0.8em;
  font-weight: bolder;
  text-align: center;
  color: var(--primary-color);
}
.benefits-container {
  padding: 1em;
  position: relative; /* Needed for absolute positioning of ::before */
  overflow: hidden; /* Hide overflow if image goes beyond container */
  min-height: 500px; /* Added to ensure container has height */
}

.benefits-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/imagenes/fondo-ferrazzano.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.1; /* Adjust for desired subtlety */
  z-index: -1; /* Place behind content */
}

.main-title-beneficios {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px; /* Increased margin-bottom for desktop */
  color: var(--primary-color);
  font-size: 1.2em; /* Smaller than main title */
}

.benefit-icon {
  width: 24px; /* Adjust size to fit accordion button */
  height: 24px;
  margin-right: 10px; /* Space between icon and text */
}

.benefit-icon svg {
  width: 100%;
  height: 100%;
}

.benefit-icon svg path {
  fill: var(--primary-color); /* Default color for SVG paths */
  stroke: var(--primary-color); /* Default stroke color for SVG paths */
}

.accordion-button:not(.collapsed) .benefit-icon svg path {
  fill: white; /* Color when accordion is active */
  stroke: white; /* Stroke color when accordion is active */
}

.accordion-button.collapsed .benefit-icon svg path {
  fill: var(--primary-color); /* Color when accordion is not active */
  stroke: var(--primary-color); /* Stroke color when accordion is not active */
}

.accordion {
  /* Apply box-shadow to the accordion container */
  
}

.accordion-item {
  background-color: var(--card-background);
  border: none; /* Remove border */
  border-radius: 16px; /* Apply border-radius to the item */
  margin-bottom: 1em; /* Add some space between accordion items */
}

.accordion-button {
  background-color: var(--card-background);
  border-radius: 16px !important; /* Ensure border-radius applies */
  color: var(--primary-color); /* Default text color */
  border: none; /* Remove border from button */
}

.accordion-button:not(.collapsed) {
  color: white; /* Text color when active */
  background-color: var(--primary-color); /* Corporate color */
  box-shadow: none; /* Remove default shadow */
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.accordion-button:focus {
  border-color: var(--primary-color); /* Border color on focus */
  box-shadow: none; /* Remove default focus shadow */
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2318757A'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: scale(1.2); /* Make it a bit bolder */
  transition: transform .2s ease-in-out; /* Add transition for smooth rotation */
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: rotate(-180deg) scale(1.2); /* Rotate and keep bolder size */
}

.accordion-body {
  background-color: var(--card-background);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-top: none; /* Remove top border from body */
}

.accordion-button.collapsed {
  font-weight: bold;
  color: var(--primary-color);
}

.main-title-beneficios {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px; /* Increased margin-bottom for desktop */
  color: var(--primary-color);
  font-size: 1.2em; /* Smaller than main title */
}

/* Desktop styles */
@media (min-width: 768px) {
  /* No specific text-align for .main-title-beneficios here, it will inherit from above */
}