.benefits-container {
  padding: 1em;
  position: relative; /* Needed for absolute positioning of ::before */
  overflow: hidden; /* Hide overflow if image goes beyond container */
  min-height: 500px; /* Added to ensure container has height */
}

.benefits-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/imagenes/fondo-ferrazzano.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.1; /* Adjust for desired subtlety */
  z-index: -1; /* Place behind content */
}

.main-title-beneficios {
  text-align: left;
  color: var(--primary-color);
  margin-bottom: 2em;
  font-size: 1.2em; /* Smaller than main title */
}

.benefit-icon {
  width: 24px; /* Adjust size to fit accordion button */
  height: 24px;
  margin-right: 10px; /* Space between icon and text */
}

.benefit-icon svg {
  width: 100%;
  height: 100%;
}

.benefit-icon svg path {
  fill: var(--primary-color); /* Default color for SVG paths */
  stroke: var(--primary-color); /* Default stroke color for SVG paths */
}

.accordion-button:not(.collapsed) .benefit-icon svg path {
  fill: white; /* Color when accordion is active */
  stroke: white; /* Stroke color when accordion is active */
}

.accordion-button.collapsed .benefit-icon svg path {
  fill: var(--primary-color); /* Color when accordion is not active */
  stroke: var(--primary-color); /* Stroke color when accordion is not active */
}

.accordion-button.collapsed {
  font-weight: bold;
  color: var(--primary-color);
}

.accordion-button:not(.collapsed) {
  color: white; /* Text color when active */
  background-color: var(--primary-color); /* Corporate color */
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
  font-weight: bold; /* Make text bold when active */
}

.accordion-button:focus {
  border-color: var(--primary-color); /* Border color on focus */
  box-shadow: 0 0 0 0.25rem rgba(24, 117, 122, 0.25); /* Custom focus ring */
}

/* Desktop styles */
@media (min-width: 768px) {
  .main-title-beneficios {
    text-align: left;
  }
}