.main-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px; 
  color: var(--primary-color);
}

.title-part-2 {
  /* Estilos para la segunda parte del título */
}

.social-icon {
  width: 42px;
  height: 42px;
  display: inline-block;
  vertical-align: middle;
}



.logo-instagram,
.logo-whatsapp {
    transition: all 0.3s ease;
}

.logo-instagram svg,
.logo-whatsapp svg {
    fill: var(--primary-color);
    transition: fill 0.5s ease, transform 0.5s ease;
}

.logo-instagram:hover svg,
.logo-whatsapp:hover svg {
    fill: #145a5d; /* Versión más oscura del color corporativo */
    transform: scale(1.1);
}

.contact-text {
  color: var(--primary-color);
  font-size: 1.1em; /* Slightly larger font size */
}

@media (max-width: 768px) {
  .main-title {
    font-size: 0.9em;
    font-weight: bold;
    color: #264653; /* Space below title for mobile */
  }

  .title-part-1 {
    display: none; /* Ocultar la primera parte en móvil */
  }

  .title-part-2 {
    font-size: 1em; /* Set font size to 1em for mobile */
    /* line-height: 1.2em; */
  }
}