.main-title {
  text-align: center;
  margin-bottom: 10px; /* Margen inferior para escritorio */
  color: #18757A;
}

.title-part-1 {
  /* Estilos para la primera parte del título */
}

.title-part-2 {
  /* Estilos para la segunda parte del título */
}

.social-icon {
  width: 60px;
  height: 60px;
  display: inline-block;
  vertical-align: middle;
}

.corporate-svg {
  fill: #18757A;
}

.logo-instagram,
.logo-whatsapp {
    transition: all 0.3s ease;
}

.logo-instagram svg,
.logo-whatsapp svg {
    fill: #18757A;
    transition: fill 0.3s ease;
}

.logo-instagram:hover svg,
.logo-whatsapp:hover svg {
    fill: #145a5d; /* Versión más oscura del color corporativo */
}

@media (max-width: 768px) {
  .main-title {
    margin-bottom: 5px; /* Margen inferior para móvil */
  }

  .title-part-1 {
    display: none; /* Ocultar la primera parte en móvil */
  }

  .title-part-2 {
    font-size: 0.6em; /* Reducir el tamaño de la fuente en móvil */
    line-height: 1.2em;
  }
}