
<h6 class="titulo-componente titulo-componente-movil">
  Tradición, Sabor y Bienestar en Cada Bocado
</h6>

<div class="cards-container">
  <div *ngFor="let pan of panes" class="card" style="max-width: 540px" (click)="openProductModal(pan)">
    <div class="row g-0">
      <div class="col-4">
        <img [src]="'assets/imagenes/' + pan.nombre_de_imagen" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-8">
        <div class="card-body">
          <h5 class="card-title" style="font-weight: bold; color: #18757A;">{{pan.nombre}}</h5>
          <p class="card-text">
            {{pan.descripcion}}
          </p>
          <p style="color: #18757A;"><strong>Precio: ${{pan.precio}}</strong></p>
          <p style="font-size: 0.7em;">Peso aproximado ({{pan.peso}}g)</p>
        </div>
      </div>
    </div>
  </div>
</div>