
<div class="cards-container">
  <div *ngFor="let producto of productos" class="card mb-3" style="max-width: 540px">
    <div class="row g-0">
      <div class="col-4">
        <img [src]="'assets/' + producto.nombre_de_imagen" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-8">
        <div class="card-body">
          <h5 class="card-title" style="font-weight: bold; color: #18757A;">{{producto.nombre}}</h5>
          <p class="card-text">
            {{producto.descripcion}}
          </p>
          <p style="font-size: 0.7em;">Peso aproximado ({{producto.peso}}g)</p>
        </div>
      </div>
    </div>
  </div>
</div>